<tr>
  <td><%= test.title %></td>
  <td><%= test.level %></td>
  <td><%= test.questions.count %></td>
  <td>
    <%= button_to 'Start', start_user_test_path(test), class: 'btn btn-info text-white' %>
  </td>
</tr>
