<div class="card mb-3 col-md-6">
  <img src="<%= badge.image_url %>" class="card-img-top" alt="<%= badge.title %>">
  <div class="card-body">
    <h5 class="card-title"><%= badge.title %></h5>
  </div>
</div>
