<table class="table table-striped table-bordered">
  <thead class="table-dark">
  <tr>
    <th scope="col">Вопрос</th>
    <th scope="col">Gist URL</th>
    <th scope="col">Пользователь</th>
    <th scope="col">Дата создания</th>
  </tr>
  </thead>
  <tbody>
  <% @gists.each do |gist| %>
    <tr>
      <td><%= link_to gist.body.truncate(25), admin_question_path(gist.question), target: '_blank' %></td>
      <td><%= link_to "Ссылка на gist", gist.gist_url, target: '_blank' %></td>
      <td><%= gist.user.email %></td>
      <td><%= gist.created_at.strftime("%d-%m-%Y %H:%M:%S") %></td>
    </tr>
  <% end %>
  </tbody>
</table>
