<div class="container">
  <footer class="py-5">

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>
        &copy; <%= current_year %>, <%= github_url('Aizdanakt', 'TestGuru') %>
        - <%= t('.slogan') %> Educational project at the online school
        <%= link_to 'Thinknetica', 'https://thinknetica.com/', target: '_blank' %>
      </p>
    </div>
  </footer>
</div>
