<nav id="navbar-example2" class="navbar navbar-light" style="background-color: #6610f2;">
  <ul class="nav nav-pills">

    <%= render 'shared/role_specific_nav' %>

    <li class="nav-item">
      <a class="nav-link text-white" href='<%= user_badges_path %>'>Badges</a>
    </li>

  </ul>

  <ul class="nav ml-auto">
    <li class="nav-item">
      <%= link_to t('.feedback'), new_user_feedback_path, class: 'nav-link text-white' %>
    </li>

    <li class="nav-item">
      <%= render 'shared/login_links' %>
    </li>

  </ul>
</nav>
