<nav id="navbar-example2" class="navbar navbar-light" style="background-color: #6610f2;">
  <ul class="nav nav-pills">

    <li class="nav-item">
      <a class="nav-link text-white" href="<%= root_path %>">
        <img src="<%= asset_path('logo/logo.png') %>" alt="Logo" height="24" width="34" style="margin-right: 5px;">
        Test Guru
      </a>
    </li>

  </ul>

  <ul class="nav ml-auto">

    <li class="nav-item">
      <%= render 'shared/login_links' %>
    </li>

  </ul>
</nav>
