.flash {
  padding: 10px;
  border: 1px solid #ccc;
}

.error {
  color: red;
  border-color: red;
}

.success {
  border-color: green;
  color: green;
}
.alert {
    border-color: yellow;
    color: yellow;
}
.notice {
    border-color: #3c85e0;
}
